
@font-face {
    font-family: "KudryashevDisplay";
    src: url("../fonts/KudryashevDisplay.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: " kudry_weird-headline";
    src: url("../fonts/kudry_weird-headline.otf");
    font-weight: bold;
    font-style: normal;
}

body {
    position: relative;
    width: 100vw;
    margin: 0;
    display: grid;
    font-family: "KudryashevHeadline-Sans";
    overflow-x: hidden;
    padding: 0;
    background-color: rgba(19, 44, 66, 0);
    z-index: 0;
    height: 100%;
}

#block-title {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: grid;
    z-index: 0;
    margin: 0;
    background: rgb(252, 242, 189);
    padding: 0;
    grid-area: "red";
    grid-template-columns: 100%;
}

#block-about_page .block-text{color: #000;}
#block-about_page{   position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: grid;
    z-index: 0;
    margin: 0;
    padding: 0 ;
color: #000;    grid-template-columns: 100%;}

#block-about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    background-color: white;
    width: 100%;
    height: auto;
    z-index: 4;
    margin: 0;
    padding: 0;
}

#block-event {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: auto;

    width: 100%;
	background-color: #75b4b0;
    height: 100%;
    overflow: hidden;

}
.block img {
    width: 100%;
}



footer {
    position: relative;
    width: 100%;
    background-color: rgb(22, 21, 21);
    height: 15vw;
}

#block-svg_img,
#block-svg_img1,
#block-svg_img2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

}
#block-svg_line {
    width: 13vw;
    height: 9vh;
    position: relative;
    left: 0;
    top: 70vh;
    background-color: rgba(255, 235, 205, 0.548);
}
.st0 {
    display: none;
    fill: #0c0b0b;
    stroke: #000000;
    stroke-miterlimit: 10;
}
.st1 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}
.st2 {
    font-family: " ofont.ru_Vivaldi script";
}
.st3 {
    font-size: 36px;
}
.st4 {
    display: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}
.st5 {
    display: none;
    fill: none;
}
.st6 {
    fill: none;
    stroke: #110911;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.block-title_text {
    position: absolute;
    top: 70vh;
    left: 0;
    width: 100vw;
    height: 30vh;
}
.block-title_text h1 {
    position: relative;
    margin: 0 auto;
    color: wheat;
    font-family: " kudry_weird-headline";
    font-size: 18vh;
}

.block-title_text h4 {
    position: absolute;
    top: -73vh;
    left: 8vw;
    font-family: " kudry_weird-headline";
    font-size: clamp(3vw,3vw,14vw);
}

.block-text {
    min-width: 40%;
    max-width: 60%;
    margin: 12vh auto;
    color: wheat;
    text-align: center;
    font-family: "KudryashevHeadline-Sans";
}
#block-about .block-text {
    color: #000;
}

h1 {
    font-size: 14vw;
    width: 100%;
    font-family: "KudryashevHeadline-Sans";
    position: relative;
    -webkit-text-stroke: 2px goldenrod;
    color: rgba(30, 145, 245, 0);
    text-align: center;
    z-index: 8;
}

h3 {
    font-size: clamp(35px, 44px,45px);
    font-weight: 200;
    text-align: center;
    font-family: "KudryashevHeadline-Sans";
}

h4 {
    font-size: clamp(23px, 27px, 29px);
    font-weight: 100;
}

h5 {
    font-size: 42px;
    font-style: italic;
    font-weight: 100;
}
hr {
    position: relative;
    width: 40%;
    height: 2px;
    background-color: goldenrod;
}

#img {
    width: 100%;
    margin-top: -40vh;
    mask: url("#circleMask4");
}
#img1 {
    width: 60%;
    mask: url("#circleMask2");
}
#img2 {
    width: 100%;
    mask: url("#circleMask3");
}

/*---- video section style start ----*/
/* color box style */
#block-video{position: relative;
width: 100vw;
height: 65vh;z-index: 99999;
margin: 0;
padding: 0;
} 
  .video .video-player {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  iconify-icon.video-icon {
    color: black;
    border-radius: 6.25rem;
    background: rgba(255, 255, 255, 0.35);
    transition: all 0.4s ease-in-out;
    animation: playAnimation 2s infinite alternate;
  }
  
  
  @keyframes playAnimation {
    0% {
      font-size: 35px;
    }
  
    100% {
      font-size: 60px;
    }
  }

@media (max-width:768px) {

   #block-title{overflow: visible;}
    #block-about,
    #block-event {
        grid-template-columns: 100%;
    }
    #img,
    #img1,
    #img2 {
        width: 100%;
    }
    #img{margin-top:20%;}
    .block-title_text h1 {
        font-size: 8vh};
}
